*{
  margin: 0;
  padding: 0;
}
.head h1,p{
  justify-content: center;
  display: flex;
 
}
.container h1{
  background-color: rgb(8, 129, 129);
  display: flex;
  justify-content: center;
}

.sidebar h2{
  background-color: rgb(8, 129, 129);
  display: flex;
  justify-content: center;
}

.content h2{
  background-color: rgb(8, 129, 129);
  display: flex;
  justify-content: center;
}
.skill-columns {
  display: flex;
  justify-content: space-between;
}

.left-skills, .right-skills {
  width: 48%;
  list-style: none;  /* Removes the bullet dots */
  padding: 0;        
  margin: 0;
}

li {
  margin: 8px 0;
  font-size: 16px;
  color: #333;
}
.item h1{
background-color: rgb(8, 129, 129);
display: flex;
  justify-content: center;
}
.skills h1{
  background-color: rgb(8, 129, 129);
  display: flex;
  justify-content: center;
}